<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1 class="text-left">Applicants</h1>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </header>
      </section>
      
      <hr />
      <section class="main">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Date Created</th>
              <th>Date Updated</th>
              <th>Picture reference</th>
              <th>Status of applicantion</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">{{user.id}}</th>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.dateCreated}}</td>
              <td>{{user.dateUpdated}}</td>
              <td>{{user.jpegReference}}</td>
              <td>{{user.applicationStatus}}</td>
              <td>
                <button type="button" class="btn btn-warning" (click)="editUserPage(user)">Update</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <hr />
    </div>
  </div>
</div>
<div class="container">
    <button type="button" class="btn btn-primary pull-right" (click)="redirectNewUserPage()">New User</button>
</div>

